*{
    margin: 0;
}

.bokor-regular {
    font-family: "Bokor", system-ui;
    font-weight: 800;
    font-style: normal;
    font-size: 55px;
  }
 

.logo{
    width: 110px;
    list-style: none;
    margin-top: 3px;
    height: 100%;
    
}
  
.lef{
    display: flex;
}

.menuu{
    position: fixed;
    background-color: #00529e;
    width: 100%;
    height: 64px;
    position: fixed; /*para que se mantenga en todo momento en la pagina*/
    z-index:100; /*especifica el orden en el que se amontonan los elemr¿entos*/
    display: flex;
    justify-content:flex-start;
    float:left; /*Ubocacion dela barra */
    /* background-color: rgba(13, 14, 14, 0.192); */
}

.menuu ul{
    display: flex;
    align-items:center;
    list-style: none; /*quitar la viñeta*/
    overflow: hidden; /*tdo contenido fuera del bloque se invisibilice*/
}


.menuu ul li{
    display: flex;
    float:left; /*quita la forma de lista*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
}

.menuu ul li:hover{
   background-color: rgba(5, 5, 5, 0.678);
    font-size: 24px;
    border-radius: 15px;
}

.menuu ul li a{
    display: flex;
    padding: 14px;
    color:rgb(250, 244, 244);
    text-decoration: none;
}

.fondo{
    margin-top: 62px;
    width: 100%;
    height:max-content;
}





body{
    /* background-color: #00529e; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
h1{
    text-align: center;
}
.parrafo p{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.por img{
    display: flex;
    width:150px;
    height: 220px;
    margin: 10px;

} 

#medio{
    width:250px;
    height: 320px;
}

#arr{
    width:200px;
    height: 270px;
}


.por img:hover{
    width:150px;
    height: 220px;
}

.por{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}



/* .producto img{
    width: 150px;
    height: 200px;
}
*/

.producto{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
 .producto p, h2{
    display: flex;
    justify-content:center;
    align-items: center;
} 


    
/* tabla */
.contenidoo{ 
    width: 60%;
    
    /* margin-left: 200px; */
}
table{
   
    /* color: antiquewhite; */
    font-size: 19px;
    
    /* table-layout: fixed; */
    /* border-collapse: collapse;   doble linea border */
}
table thead{
   
     background-color: black;
     color:antiquewhite;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
    
}

td, th {
    padding: 15px;
    /* border-bottom: #00529e; */
    border: 2px solid rgb(7, 2, 2);
    text-align: left;

}




/* jugadores */
.uno div {
    background-color:#00529e;
    /* border: 2px solid rgb(7, 2, 2); */
    /* background-color: rgb(230, 224, 224); */
    width:370px;
    height:370px;
    text-align: center;
    margin-left: 55px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.uno img{
    width: 230px;
    height: 160px;
    margin:30px;
    border-radius: 5px;
}

section img:hover{
    width: 260px;
    height: 190px;
   
}
.uno section{
    display: flex;
    display:inline-block;
}





/* tarjeta escudo */
.prod{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00529e;
    width: 80%;
    height: 320px;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    
}
.prod img{
    width: 350px;
    height: 220px;
    /* margin 0; */
    
}

.prod img:hover{
    width: 350px;
    height: 220px;

}
figure{
    /* display: inline-block; */
    text-align: center;
    margin-right: 0;
     /* border: 2px solid rgb(7, 2, 2); */
}




/* tabla partidos */
.partidos{
    margin-top: -170px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    /* padding-left: 320px; */
     cursor: pointer;
}

.mes{
    background-color:#00529e;
    color: antiquewhite;
    border-color: #00529e;
    font-size: 20px;
}

.parte td{
    padding:4px;
    /* border-bottom: #00529e; */
    border: 1px solid rgba(7, 2, 2, 0);
    text-align: left;
    border-radius: 10px;
    transition: all ease 500ms;
}

.parte td:hover{
    background-color: #094680eb;
}


/* galleria */
.fotos{
    overflow: hidden;
    display: flex; 
    justify-content:center;
   
    padding: 0;
    align-items: center;
    /* min-height: 100vh; */
}

.fotos .gale{
   
    max-width: 900px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 1rem;
}

.fotos .gale img{
     margin: 0;
    padding: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    cursor: pointer;
}

.gale img:not(:hover){
    filter: grayscale(100%);
    width: 102%;
    height: 102%;
}

.fotos .gale .imga{
    /* background-color: aqua; */
    grid-column: 1/3;
}

.fotos .gale .imgb{
    /* background-color:#094680; */
    grid-row: 2/4;
}

.fotos .gale .imgc{
    /* background-color: rgb(255, 0, 0); */
}

.fotos .gale .imgd{
    /* background-color: rgb(13, 0, 255); */
}

.fotos .gale .imge{
    /* background-color: rgb(47, 255, 0); */
}

.fotos .gale .imgf{
    /* background-color: rgb(255, 0, 217); */
    grid-column: 2/4;
}




/* footer */
footer{
    background:#00529e;
    text-align: center;
}

.grupo-1 h2 {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding-bottom: 20px;
}

.grupo-1{
    padding: 40px;
    margin-left: 20px;
    margin-right: 48px;
    display: flex;
    border-bottom: #4d636c solid 1px;
    justify-content: center;
}

footer .im{
    width: 123px;
    height: 100px;
}

footer .im:hover{
    width: 123px;
    height: 100px;
}

.un{
    width: 500px;
}

.do{
    margin-left: 50px;
width: 500px;
text-align: left;
}

.tr{
margin-left: 50px;
width: 500px;
text-align: left;
}


.copyright {
    /* margin-top: 90px; */
    padding: 20px 0px;
    width: 100%;
    background-color: #000000;
}

.copyright p {
    color: white;
    font-size: 18px;
    text-align: center;
    letter-spacing: 5px;
}










@media (max-width: 1024px) {
    /* nav {
     background-color: aqua;
    } */

    .prod{
        flex-direction: column;
        height: 540px;
        
    }
    .fotos{
       display: flex;
       flex-direction: column;  
    }

.por img{

    width:50px;
    height: 120px;
    margin: 10px;
} 
.por img:hover{
    width:50px;
    height: 120px;
}

#medio{
    width:150px;
    height: 220px;
}

#arr{
    width:100px;
    height: 170px;
}
}





.menu-icon img{
    width: 30px;
    height:50px;
    border-radius: 2px;
}
.menu-icon, #check{
    display: none;
}


@media (max-width: 570px) {
    .logo{
        margin-left:-2000px;
    }

    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: flex;
        position: relative;

        top: 5px;
        margin-left: 30px;
        right: 20px; 
        cursor: pointer;
    }
    
    .menuu ul{
        display: flex;
        flex-direction: column;
        position: fixed;
        top:50px;
        /* margin-bottom: 20px; */
        left: -110%;
        background:#00529e;;
        width: 100%;
        height:54vh;
        
    }
    .menuu ul li{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }

    .por img{
        width:0px;
        height:0px;
    } 
    
    #medio{
        width:150px;
        height: 220px;
    }
    
    #arr{
        width:100px;
        height: 170px;
    }


    }
